// app global css in SCSS form

@font-face {
  font-family: GothamPro;
  src: url(./fonts/GothamPro.woff);
}

$flat-active-color: #70D24E;
$flat-border-color: #D8D8D8;
$flat-border-radius: 5px;


.main-layout {
  background-color:  #F8F8F8;
  font-family: GothamPro,serif;
  font-size: 12px;
  line-height: 28px;
  //max-width: 1170px;
  height: 100%;
  //margin: 10px;
  .flats-page {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
  }
  .dash {
    opacity: 50%;
    align-self: center;
    text-align: center;
  }
  .rooms-filter-group {
    .q-btn {
      height: 40px;
      border: 1px solid $flat-border-color;
      background-color: white;
    }
  }
  .q-btn {
    height: 40px;
    border-radius: $flat-border-radius;
  }
  .q-btn.active-btn {
    background-color: $flat-active-color;
    color: white;
    border: 0;
  }
  .range-filter-input, .q-btn {
    border-radius: $flat-border-radius;
  }
  .range-filter-input {
    border: 1px solid $flat-border-color;
    text-align: center;
    font-size: 16px;
    width: 80px;
    height: 40px;
  }
  .range-filter-range {
    color: $flat-active-color;
    width: 175px;
  }
}
